.tag{
    display: flex;
    align-items: center;
    font-size: 19px;
}

.checkbox {
    display: inline-block;
    height: 17px;
    width: 17px;
    background: transparent;
    border: 3.2px solid rgb(70, 70, 70);
    border-radius: 7px;
    margin-right: 4px;
    cursor: pointer;
}

.checkbox--active {
    background: #864638;
}